@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Delius&family=Klee+One&family=Neucha&family=Quicksand:wght@500&family=Shadows+Into+Light&family=Staatliches&family=The+Girl+Next+Door&family=Zen+Tokyo+Zoo&display=swap");

@media only screen and (max-width: 749px) {
	.login__container {
		padding: 1em;
		display: flex;
		justify-content: center;
		height: 100vh;
		background-image: url("../../images/fluid-background.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		.login--image {
			display: none;
		}
		.login__wrapper {
			padding-top: 1em;
			grid-area: login;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: transparent;
		}
	}
}

@media screen and (min-width: 750px) {
	.login__container {
		display: grid;
		grid-template-areas: "image login";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		height: 100vh;

		.login__wrapper {
			grid-area: login;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #28c8c034;
		}
	}
}

@media screen and (min-width: 1300px) and (min-height: 800px) {
	.login__container {
		display: flex;
		justify-content: center;
		height: 100vh;
		background-image: url("../../images/fluid-background.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		.login--image {
			display: none;
		}

		.login__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #d3f4f2;
			width: 40%;
			margin: 10em 0;
		}
	}
}

.login__wrapper > p {
	color: gray;
	text-align: center;
}

label {
	color: rgb(12, 130, 177);
	font-weight: bold;
}

input {
	width: 100%;
	font-size: 1em;
	font-family: "Avenir";
}

input:focus {
	border-bottom: 2px solid #90e16e;
}

.login--image {
	grid-area: image;
	background-size: cover; /* <------ */
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../../images/fluid-background.svg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 4em;

	.maintext {
		font-family: Staatliches;
		color: white;
		text-align: center;
		font-weight: normal;
		font-size: 4em;
	}

	.subtext {
		font-family: Quicksand;
		text-align: center;
		font-size: 1.3em;
		font-weight: lighter;
		color: white;
	}
}

.login--icon__container {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	//justify-content: space-around;
	margin-top: 1em;
}

.login--icon:hover {
	transform: scale(1.5);
}

.login--input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
}

.login--button {
	color: white;
	font-weight: bolder;
	font-size: 1em;
	border-radius: 1.5em;
	background: rgb(43, 209, 197);
	background: linear-gradient(
		90deg,
		rgba(43, 209, 197, 1) 0%,
		rgba(144, 225, 110, 1) 100%,
		rgba(4, 4, 3, 1) 100%
	);
	border: none;
	box-shadow: none;
	font-family: "Avenir";
	width: 50%;
	cursor: grab;
	padding: 0.6em 0;
	margin: 0.5em 0em;
}
